button.active {
  background-color: green;
  color: #fff;
  font-weight: bold;
}

button.active:hover{
  background-color: #0056b3;
  color: #fff;
  transform: translateY(-2px);
}


.table th, .table td {
  vertical-align: middle;
  text-align: center;
}


h3 {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .5px;
}


.mt-4 {
  margin-top: 1.5rem !important;
}
